.contactsBlock {
    background-color: #ffd6d5;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #f7f7f7;
}

.contactsForm {
    width: 50%;
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsForm input, .contactsForm textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
    background-color: #f7f7f7;
}

@media screen and (max-width: 640px) {
    .contactsForm {
        width: 80%;
    }
}