@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 36px, 1.2, 300);
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  h2 {
    margin: 0;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $primaryColor;
    height: 1px;
    width: 55px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}



