.title {
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    background-color: #4e93e6;
    height: 3px;
    width: 55px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title h2 {
    margin: 0;
}