.mainBlock {
    height: 100vh;
    background-color: #e5b9b9;
}

.greeting {
    width: 400px;
    background-color: #f7f7f7;
}

.picture {
    width: 400px;
    height: 530px;
    background-color: #f7f7f7;
}