.projectsBlock {
    height: 100vh;
    background-color: #343a40;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: flex-start;
}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}